{% extends 'index.twig' %}
{% block title %}Просмотр задач{% endblock %}
{% block body %}
    <div class="container">
        <div class="col text-center">
            <a href="/add">Добавить задачу</a>
            {% if username %}
                <h1>{{ username }}</h1>
                <a href="/logout">Выход</a>
            {% else %}
                <a href="/auth">Вход админа</a>
            {% endif %}
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>
                    <a href="{{ sorts.username }}">имя
                        пользователя</a></th>
                <th>
                    <a href="{{ sorts.email }}">email</a>
                </th>
                <th>текст задачи</th>
                <th>
                    <a href="{{ sorts.status }}">статус</a>
                </th>
                <th>Изменена</th>
                {% if username %}
                    <th>Администрирование</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.username }}</td>
                    <td>{{ task.email }}</td>
                    <td>{{ task.description | nl2br }}</td>
                    <td>{% if task.status %}
                            Завершено
                        {% else %}
                            В процессе
                        {% endif %}
                    </td>
                    <td>
                        {% if task.is_edit %}
                            Да
                        {% else %}
                            Нет
                        {% endif %}
                    </td>
                    {% if username %}
                        <td><a href="/edit/{{ task.id }}">Редактировать</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="col text-center">
            {% if pager.hasNext or pager.hasPrev %}
                {% if pager.hasPrev %}
                    <a href="/?page={{ pager.current - 1 }}&sort={{ sort }}&order={{ order }}">Назад</a>
                {% endif %}
                {{ pager.current }}
                {% if pager.hasNext %}
                    <a href="/?page={{ pager.current + 1 }}&sort={{ sort }}&order={{ order }}">Вперед</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
